<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order a Pet</title>
</head>
<body class="container">
<form action="order2" method="post" class="form-control">
    <div>
        <label>What kind of pet would you like to order?</label>
        <input id="pet" name="pet" type="text">
    </div>
    <div>
        <label>Select a color: </label>
        <select class="form-control" name="color" id="color">
            <option value="purple">Purple</option>
            <option value="blue">Blue</option>
            <option value="red">Red</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
        </select>
    </div>
    <div class="col-12">
        <button class="btn btn-success float-left mt-3 px-3" type="submit">Place Order</button>
    </div>
</form>
</body>
</html>
